body {
    
    background-color: violet;
    
}

h3{
    text-align: center;
    
    color: #1d0138;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 250%;
    

}



#topic {
    text-align: center;
    font-size: 150%;
    color:#16036d;
    text-decoration-line:underline ;
    
    font-weight: bold;


    
}

#lyric {
    text-align: center;
    font-size: 120%;
    color:#634acf;
    
    

}


